:root {
  /**
   * User input values.
   */
  --item-display: flex;
  --item-flex-direction: column;
  --item-flex-grow: 1;

  --item-margin: 0 0 0 0;
  --item-padding: 0 0 0 0;
  /**
   * Calculated values.
   */
}