:root {
  --list-width: 100%;

  --list-display: flex;
  --list-flex-direction: column;
  --list-flex-grow: 1;

  --list-style-type: none;

  /**
   * User input values.
   */
  --list-margin: 0 0 0 0;
  --list-padding: 0 0 0 0;

  --grid-list-layout-gap: 16px;
  --grid-list-column-count: 1;
  --grid-list-item--min-width: 100px;


  --list-style-type-disc: disc;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-list-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-list-layout-gap));
  --grid-list-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-list-column-count));
}