:root {
  /**
   * User input values.
   */
  --text-color: #000000;
  --text-color-inverted: #c4c4c4;
  --text-font-size: 16px;
  --text-font-weight: 400;
  --text-line-height: 1.2em;

  --text-paragraph-margin: .6em

  /**
   * Calculated values.
   */
}