:root {
  /**
   * User input values.
   */
  --block-width: 100%;
  --block-display: flex;
  --block-flex-direction: column;
  --block-flex-grow: 1;
  --block-align-items: flex-start;

  /**
   * Calculated values.
   */
}