:root {
  /**
   * User input values.
   */
  --item-display: flex;
  --item-flex-direction: column;
  --item-flex-grow: 1;

  --item-margin-top: 0;
  --item-margin-bottom: 0;
  --item-margin-left: 0;
  --item-margin-right: 0;

  --item-padding-top: 0;
  --item-padding-bottom: 0;
  --item-padding-left: 0;
  --item-padding-right: 0;

  /**
   * Calculated values.
   */
  --item-margin: --item-margin-top --item-margin-right --item-margin-bottom --item-margin-left;
  --item-padding: --item-padding-top --item-padding-right --item-padding-bottom --item-padding-left;
}