@use "../breakpoints" as *;

:root {
  /**
   * User input values.
   */
  --page-display: block;
  --page-width: 100%;
  --page-height: 100%;
  --page-min-height: 100%;

  /**
   * Calculated values.
   */
}