:root {
  /**
   * User input values.
   */
  --section-width: 100%;

  --section-margin-top: 0;
  --section-margin-right: auto;
  --section-margin-bottom: 1em;
  --section-margin-left: auto;

  /**
   * Calculated values.
   */
  --section-margin: var(--section-margin-top) var(--section-margin-right) var(--section-margin-bottom) var(--section-margin-left);
}