@use '../utils' as *;

@include byName('list') {
  width: var(--list-width);

  display: var(--list-display);
  flex-direction: var(--list-flex-direction);
  flex-grow: var(--list-flex-grow);

  list-style-type: var(--list-style-type);


  & + & {
    //margin-top: var(--text-font-size);
  }
}

@include byModifier('list-title') {
  @include nextByName('list') {
    margin-top: .4em;
  }
}

//@include mixins.byName('list') {
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//}
//
//@include mixins.byName('list-item') {
//  display: flex;
//  flex-grow: 1;
//  flex-direction: column;
//}

//.grid {
//  display: grid;
//  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-list-item--min-width), var(--grid-list-item--max-width)), 1fr));
//  grid-gap: var(--grid-list-layout-gap);
//  list-style-type: none;
//
//  @media screen and (min-width: 450px) {
//    --grid-list-column-count: 4;
//  }
//}
