@use '../utils' as *;

@include byName('text') {
  color: var(--text-color);

  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);

  transition: .3s color ease-in;

  @include nextByName('text') {
    margin-top: var(--text-paragraph-margin);
  }
}