@use '../shared' as *;

@include byModifier('container') {
  width: var(--container-width);
  max-width: var(--container-content-max-width);
  margin-left: var(--container-margin-left);
  margin-right: var(--container-margin-right);

  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @media (min-width: $screen-sm) {
    width: var(--container-width--sm);

    padding-left: var(--container-padding--sm);
    padding-right: var(--container-padding--sm);
  }

  @media (min-width: $screen-md) {
    width: var(--container-width--md);
    padding-right: var(--container-padding--md);
    padding-left: var(--container-padding--md);
  }

  @media (min-width: $screen-lg) {
    width: var(--container-width--lg);

    padding-right: var(--container-padding--lg);
    padding-left: var(--container-padding--lg);
  }

  @media (min-width: $screen-xl) {
    width: var(--container-width--xl);

    padding-right: var(--container-padding--xl);
    padding-left: var(--container-padding--xl);
  }
}
