@use '../shared' as *;

@include byModifier('disc') {
  list-style-type: var(--disc-list-style-type);

  @include childByName('item') {
    display: list-item;

    @include nextByName('item'){
      margin: var(--disc-item-margin);
    }
  }
}
