@use '../shared' as *;

@mixin italicStyles {
  font-style: var(--italic-font-style);
}

@include byModifier('italic') {
  @include italicStyles;
}

@include byModifier('i') {
  @include italicStyles;
}
