@use '../variables' as *;

@mixin byName($ce-name: '') {
  @if ($ce-name == '') {
    #{$ce-base-name} {
      @content;
    }
  } @else {
    #{$ce-base-name}-#{$ce-name} {
      @content;
    }
  }
}

@mixin childByName($ce-name: '') {
  @if ($ce-name == '') {
    & > #{$ce-base-name} {
      @content;
    }
  } @else {
    & > #{$ce-base-name}-#{$ce-name} {
      @content;
    }
  }
}